<h1>Hello</h1>    <!-- Write EJS code here to display shortened links -->
<form method="POST" action="/login">
<input type ="text" name="username" placeholder="sign in"/>
<input type ="submit" value="Submit" />

