<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <h2>Log In</h2>

  <form action="/login" method="POST" style="margin:150px;">
  <label for="email">Email:</label>
  <input type ="email" name="email" placeholder="Email" />
  <br>
  <label for="password">Password:</label>
  <input type ="password" name="password" placeholder="Password" />
  <br>
  <input type="submit" value="LogIn"/>
</form>
</body>
</html>