<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <form action="/login" method="POST" style="margin:150px;">
  <input type ="email" name="email"/>
  <input type ="password" name="password"/>

</body>
</html>