<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <h2>Registration Form</h2>
  <form action="/register" method="POST" style="margin:150px;">
  <label for="email">email:</label>
  <input type ="email" name="email" placeholder="Email"/>
  <br>
  <label for="password">password:</label>
  <input type ="password" name="password" placeholder="Password"/>
  <br>
  <input type ="submit" value="register"/>
  </form>
</body>
</html>
