<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body style="font-size:20px; padding:50px;">
  <% if(user_id) {%>
  <% for (var keys in urls) { %>
  <form method="POST" action="/urls/<%=keys%>/delete">
    <%= keys %> <%= urls[keys]; %>
    <a href= "/urls/<%=keys%>">Edit</a>
    <input type="submit" value="Delete!" />
    <% } %>
    <br>
    <br>
    <a href="/urls/new">Shorten a New URL</a>
    <% } %>
  </body>
  </html>

